<div class="cell-rgame-container"> 
  <div *ngFor="let c of cells; let i = index" class="cell-rgame" (click)="onCellClick(c)">      
    {{c.cellIndex}}
    <div style="position: relative;top:0px;left:0px">
        <div style="position:absolute;top:0px;left:0px">
            <div *ngIf="c.robo != '.' ">
                <div class="app-main-container">
                    <div class="robo-body">
                        <div class="robo-inner-container">
                            <div class="robo-face">
                                <div class="left-eye">
                                </div>
                                <div class="right-eye">
                                </div>
                            </div>
                            <div class="robo-waist">
                                <div class="left-hand"></div>
                                <div class="right-hand"></div>
                            </div>
                            <div class="robo-legs">
                                <div class="left-leg">
                                </div>
                                <div class="right-leg">
                                </div>
                                <div class="clear-both">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div style="clear:both"></div>
</div>
